// Center main content on pages and posts
.page__content,
.page__hero,
.archive,
.page {
  margin-left: auto;
  margin-right: auto;
  max-width: 700px; // or whatever width you want
  text-align: left; // or center if you want *all* text centered
}